<h1>{{ title }}</h1>

<section class="user-form ms-auto me-auto">
  <form
    [formGroup]="formUser"
    (ngSubmit)="updateUser()"
    class="row my-3 ps-2 pb-2"
  >
    <div class="row g-2">
      <label for="name" class="col-2 col-form-label">Nome:</label>
      <div class="col-10">
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          formControlName="name"
        />
      </div>
    </div>
    <!-- TODO: 2. Show visual cues on validation -->
    <!--
    <small
      *ngIf="
      formProducts.get('marca')?.touched && formProducts.get('marca')?.invalid
      "
      ><span *ngIf="formProducts.get('marca')?.hasError('required')"
      >Campo de preenchimento obrigatório!</span
      >
      <span *ngIf="formProducts.get('marca')?.errors?.['pattern']"
      >Mínimo 3 caracteres e máx 20 caracteres!</span
      ></small>
    -->
    <div class="row g-2">
      <label for="email" class="col-2 col-form-label">Email:</label>
      <div class="col-10">
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          formControlName="email"
        />
      </div>
    </div>

    <div class="row g-2">
      <label for="password" class="col-2 col-form-label">Senha:</label>
      <div class="col-10">
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          formControlName="password"
        />
      </div>
    </div>

    <div class="row g-2">
      <label for="address" class="col-2 col-form-label">Morada:</label>
      <div class="col-10">
        <input
          type="text"
          name="address"
          id="address"
          class="form-control"
          formControlName="address"
        />
      </div>
    </div>

    <div class="row g-2">
      <label for="zip_code" class="col-2 col-form-label">Código postal:</label>
      <div class="col-10">
        <input
          type="text"
          name="zip_code"
          id="zip_code"
          class="form-control"
          formControlName="zip_code"
        />
      </div>
    </div>

    <div class="row g-2">
      <label for="country" class="col-2 col-form-label">País:</label>
      <div class="col-10">
        <input
          type="text"
          name="country"
          id="country"
          class="form-control"
          formControlName="country"
        />
      </div>
    </div>

    <div class="row g-2 text-right">
      <div class="col"></div>
      <div class="col-auto">
        <input
          type="submit"
          value="Atualizar"
          class="btn btn-primary text-right"
          [disabled]="formUser.invalid"
        />
      </div>
    </div>
  </form>
</section>
