<h1>{{ title }}</h1>

<section class="user-form ms-auto me-auto">
  <form
    [formGroup]="formUser"
    (ngSubmit)="addUser()"
    class="row my-3 ps-2 pb-2"
  >
    <div class="row g-2">
      <label for="name" class="col-2 col-md-3 col-form-label">Nome:</label>
      <div class="col">
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          formControlName="name"
          [class.invalid]="
            formUser.get('name')?.touched && formUser.get('name')?.invalid
          "
        />
        <small
          [ngClass]="
            formUser.get('name')?.touched && formUser.get('name')?.invalid
              ? 'invalid-feedback'
              : 'invisible'
          "
          >Por favor informe um nome válido (deve ter entre 3 e 50
          caracteres).</small
        >
      </div>
    </div>

    <div class="row g-2">
      <label for="email" class="col-2 col-md-3 col-form-label">Email:</label>
      <div class="col">
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          formControlName="email"
          [class.invalid]="
            formUser.get('email')?.touched && formUser.get('email')?.invalid
          "
        />
        <small
          [ngClass]="
            formUser.get('email')?.touched && formUser.get('email')?.invalid
              ? 'invalid-feedback'
              : 'invisible'
          "
          >Por favor informe um nome válido (deve ter entre 3 e 50
          caracteres).</small
        >
      </div>
    </div>

    <div class="row g-2">
      <label for="password" class="col-2 col-md-3 col-form-label">Senha:</label>
      <div class="col">
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          formControlName="password"
          [class.invalid]="
            formUser.get('password')?.touched &&
            formUser.get('password')?.invalid
          "
        />
        <small
          [ngClass]="
            formUser.get('password')?.touched &&
            formUser.get('password')?.invalid
              ? 'invalid-feedback'
              : 'invisible'
          "
          >Por favor informe um nome válido (deve ter entre 3 e 50
          caracteres).</small
        >
      </div>
    </div>

    <div class="row g-2">
      <label for="address" class="col-2 col-md-3 col-form-label">Morada:</label>
      <div class="col">
        <input
          type="text"
          name="address"
          id="address"
          class="form-control"
          formControlName="address"
          [class.invalid]="
            formUser.get('country')?.touched && formUser.get('country')?.invalid
          "
        />
        <small
          [ngClass]="
            formUser.get('country')?.touched && formUser.get('country')?.invalid
              ? 'invalid-feedback'
              : 'invisible'
          "
          >Por favor informe um nome válido (deve ter entre 3 e 50
          caracteres).</small
        >
      </div>
    </div>

    <div class="row g-2">
      <label for="zip_code" class="col-2 col-md-3 col-form-label"
        >Código postal:</label
      >
      <div class="col">
        <input
          type="text"
          name="zip_code"
          id="zip_code"
          class="form-control"
          formControlName="zip_code"
          [class.invalid]="
            formUser.get('zip_code')?.touched &&
            formUser.get('zip_code')?.invalid
          "
        />
        <small
          [ngClass]="
            formUser.get('zip_code')?.touched && formUser.get('name')?.invalid
              ? 'invalid-feedback'
              : 'invisible'
          "
          >Por favor informe um nome válido (deve ter entre 3 e 50
          caracteres).</small
        >
      </div>
    </div>

    <div class="row g-2">
      <label for="country" class="col-2 col-md-3 col-form-label">País:</label>
      <div class="col">
        <input
          type="text"
          name="country"
          id="country"
          class="form-control"
          formControlName="country"
          [class.invalid]="
            formUser.get('country')?.touched && formUser.get('country')?.invalid
          "
        />
      </div>
    </div>

    <div class="row g-2 text-right">
      <div class="col"></div>
      <div class="col-auto">
        <input
          type="submit"
          value="Registar"
          class="btn btn-primary text-right"
          [disabled]="formUser.invalid"
        />
      </div>
    </div>
  </form>
</section>
