<div id="login-modal">
  <form class="modal-body" [formGroup]="formLogin" (ngSubmit)="loginUser()">
    <span class="close-modal" (click)="hideLoginForm()"
      ><i class="fa-solid fa-xmark"></i
    ></span>
    <h3>{{ formTitle }}</h3>

    <p
      id="feedback-message"
      *ngIf="
        (formLogin.get('email')?.touched ||
          formLogin.get('password')?.touched) &&
        (formLogin.get('email')?.invalid || formLogin.get('password')?.invalid)
      "
    >
      <span
        *ngIf="
          formLogin.get('email')?.hasError('required') ||
          formLogin.get('password')?.hasError('required')
        "
      >
        Os dois campos são de preenchimento obrigatório!
      </span>
      <span *ngIf="formLogin.get('email')?.errors?.['pattern']">
        O e-mail tem um formato incorrecto!
      </span>

      <span *ngIf="formLogin.valid && loginError">
        Utilizador inexistente!
      </span>
    </p>

    <p>
      <label for="email">E-mail: </label>
      <input
        type="email"
        name="email"
        id="email"
        formControlName="email"
        #emailInput
      />
    </p>
    <p>
      <label for="password">Senha: </label>
      <input
        type="password"
        name="password"
        id="password"
        formControlName="password"
      />
    </p>
    <button type="submit" id="btLogin" [disabled]="formLogin.invalid">
      Validar
    </button>
  </form>
</div>
