<header class="py-2">
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-white">
      <div class="position-absolute top-50 start-50 translate-middle">
        <ul class="navbar-nav align-items-center nav-center">
          <!-- <li class="nav-item border-right"> -->
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle btn-nav"> Homem </a>

              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Casacos</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Camisas</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Calças</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Sweatshirts</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Polos</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Sapatos</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="products"
                    routerLinkActive="active"
                    >Todos</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">|</li>
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle btn-nav">Mulher</a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Vestidos</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Blusões</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Coletes</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Jeans</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Saias</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Calções</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Lingerie</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Sapatos</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Malas</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Todos</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="active"
              ><img src="assets/logo.png" alt="Logo"
            /></a>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle btn-nav">Criança</a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Menina | 6-14 Anos</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Menino | 6-14 Anos</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Bebé Menina | 3 Meses - 5 Anos</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Bebé Menino | 3 Meses - 5 Anos</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Mini | 0-12 Meses</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">|</li>
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle btn-nav">Acessórios</a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Malas</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Pulseiras</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="home"
                    routerLinkActive="active"
                    >Anéis</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="position-absolute top-50 end-0 translate-middle-y">
        <ul class="navbar-nav nav-right">
          <li *ngIf="activeSession" class="p-2 welcome-message">
            Bem-vindo(a), <span id="username">{{ username }}</span>
          </li>
          <li *ngIf="activeSession" class="nav-item action ps-2">
            <a><i class="fa-solid fa-clipboard-list"></i></a>
          </li>
          <li *ngIf="activeSession" class="nav-item action ps-2">
            <a><i class="fa-regular fa-user"></i></a>
          </li>
          <li *ngIf="activeSession" class="nav-item action ps-2">
            <a><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
          </li>

          <li *ngIf="!activeSession" class="nav-item action ps-2">
            <a><i class="fa-solid fa-user-plus"></i></a>
          </li>
          <li *ngIf="!activeSession" class="nav-item action ps-2">
            <a><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
