<div class="modal-header">
  <h4 class="modal-title">{{ formTitle }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true"></span>
  </button>
</div>

<form [formGroup]="formLogin" (ngSubmit)="logUserIn()">
  <div class="modal-body row">
    <div class="row g-2">
      <label for="email" class="col-2 col-form-label">Email: </label>
      <div class="col">
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          formControlName="email"
          #emailInput
          ngbAutofocus
        />
        <small
          [ngClass]="
            formLogin.get('email')?.touched && formLogin.get('email')?.invalid
              ? 'invalid-feedback'
              : 'invisible'
          "
          >Por favor informe um email válido.</small
        >
      </div>
    </div>
    <div class="row g-2">
      <label for="password" class="col-2 col-form-label">Senha: </label>
      <div class="col">
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          formControlName="password"
        />
        <small
          [ngClass]="
            formLogin.get('password')?.touched &&
            formLogin.get('password')?.invalid
              ? 'invalid-feedback'
              : 'invisible'
          "
          >Por favor informe uma senha válida (deve ter entre 3 e 20
          caracteres).</small
        >
        <small
          [ngClass]="
            formLogin.invalid && invalidLogin ? 'invalid-feedback' : 'invisible'
          "
          >Credenciais inválidas.</small
        >
      </div>
    </div>
    <div class="row g-2 text-center">
      <small>
        Não possui conta?
        <span
          ><a
            routerLink="/register"
            (click)="activeModal.dismiss('Cross click')"
            >Registe-se!</a
          ></span
        >
      </small>
    </div>
  </div>

  <div class="modal-footer">
    <input
      type="submit"
      value="Validar"
      class="btn btn-outline-primary"
      [disabled]="formLogin.invalid"
    />
  </div>
</form>
