<!-- <footer>
  <nav class="navbar fixed-bottom bg-light">
    <div class="container">
      <div class="container-fluid">&copy; 2022 Primavera Academy</div>
    </div>
  </nav>
</footer> -->
<footer class="container">
  <ul class="nav justify-content-center mb-3">
    <li class="nav-item">
      <a
        href="https://fontawesome.com/icons/facebook-square?f=brands"
        target="_blank"
        class="nav-link px-4 text-dark"
        ><i class="fa-brands fa-square-facebook"></i
      ></a>
    </li>
    <li class="nav-item">
      <a
        href="https://fontawesome.com/icons/twitter?f=brands"
        target="_blank"
        class="nav-link px-4 text-dark"
        ><i class="fa-brands fa-twitter"></i
      ></a>
    </li>
    <li class="nav-item">
      <a
        href="https://fontawesome.com/icons/instagram?f=brands"
        target="_blank"
        class="nav-link px-4 text-dark"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </li>
    <li class="nav-item">
      <a
        href="https://fontawesome.com/icons/youtube?f=brands"
        target="_blank"
        class="nav-link px-4 text-dark"
        ><i class="fa-brands fa-youtube"></i
      ></a>
    </li>
    <li class="nav-item">
      <a
        href="https://fontawesome.com/icons/pinterest?f=brands"
        target="_blank"
        class="nav-link px-4 text-dark"
        ><i class="fa-brands fab fa-pinterest"></i
      ></a>
    </li>
  </ul>
  <div class="d-flex justify-content-center">
    <p class="container-footer text-center text-muted">
      O conteúdo deste site está protegido por copyright e é propriedade da H &
      M Hennes & Mauritz AB. O conceito de negócio da H&M é a oferta de moda e
      qualidade aos melhores preços, de forma sustentável. Desde que foi
      fundada, em 1947, a H&M tornou-se uma das maiores empresas de moda do
      mundo.
    </p>
  </div>
</footer>
